<h1><%= @character.name %></h1>
<%= image_tag(@character.image, alt:'No image', width:200) %>
<ul>
  <li>
    Age:  <%= @character.age %> years old
  </li>
  <li>
    Height: <%= @character.height %> cm
  </li>
  <li>
    Misc. info: <%= @character.misc_info %>
  </li>
</ul>
<%= link_to('Edit Character', edit_character_path(@character)) %><br>
<%= button_to('Delete Character', character_path(@character), method: :delete, data: {confirm: 'Delete? Are you sure?!'}) %>